body {
  background-color: $bw-90;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body::-webkit-scrollbar {
  display: none;
}

a {
  all: unset;
  cursor: pointer;
}

button {
  all: unset;
}

.contents {
  position: relative;
  width: 100vw;
  padding-top: 72px;
}


.inner {
  width: 100vw;
  max-width: 850px;
  min-width: 850px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@include mobile {
  .contents {
    padding-top: 60px;
  }

  .inner {
    min-width: 100vw;
  }
}