body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body::-webkit-scrollbar {
  display: none;
}

a {
  all: unset;
  cursor: pointer;
}

button {
  all: unset;
}

@include mobile {
  .contents {
    padding-top: 60px;
  }

  .inner {
    min-width: 100vw;
  }
}