$black: rgb(30, 32, 34);
$black-80: rgba(30, 32, 34, 0.8);
$black-60: rgba(30, 32, 34, 0.6);
$black-40: rgba(30, 32, 34, 0.4);
$black-20: rgba(30, 32, 34, 0.2);

$white: rgb(240, 245, 249);
$white-80: rgba(240, 245, 249, 0.8);
$white-60: rgba(240, 245, 249, 0.6);
$white-40: rgba(240, 245, 249, 0.4);
$white-20: rgba(240, 245, 249, 0.2);

$point-light: rgb(201, 214, 223);
$point-light-80: rgba(201, 214, 223, 0.8);
$point-light-60: rgba(201, 214, 223, 0.6);
$point-light-40: rgba(201, 214, 223, 0.4);
$point-light-20: rgba(201, 214, 223, 0.2);

$point-dark: rgb(82, 97, 107);
$point-dark-80: rgb(82, 97, 107, 0.8);
$point-dark-60: rgb(82, 97, 107, 0.6);
$point-dark-40: rgb(82, 97, 107, 0.4);
$point-dark-20: rgb(82, 97, 107, 0.2);
