.article__preview {
  padding: 12px;
  margin-bottom: 20px;
  border-bottom: 2px solid $bw-40;
  color: $bw-40;
  transition: filter 0.2s;
  cursor: pointer;

  &:hover {
    filter: brightness(0.5);
  }
}

.title {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  @include shortening;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
}

.created__date {
  padding-top: 12px;
  font-size: 16px;
}

@include mobile {
  .article__preview {
    padding: 8px;
    margin-bottom: 16px;
    border-bottom: 2px solid $bw-10;
  }
  
  .title {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .tags {
    display: flex;
  }
  
  .created__date {
    padding-top: 12px;
    font-size: 14px;
  }
}