.article__preview {
  padding: 12px;
  margin-bottom: 32px;
  border-bottom: 2px solid $bw-10;
  color: $bw-10;
  transition: filter 0.2s;
  cursor: pointer;

  &:hover {
    filter: brightness(0.5);
  }
}

.title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.tags {
  display: flex;
}

.created__date {
  padding-top: 12px;
  font-size: 16px;
}
