html {
  font-size: 10px;
}

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
}

a {
  all: unset;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    flex: 0 1 auto;
    width: 100%;
  }
  .contents {
    flex: 1 1 auto;
    overflow-y: scroll;
  }
}
