.nav {
  position: fixed;
  width: 100vw;
  background-color: $black;

  .menus {
    display: flex;
    justify-content: center;
  }

  .menu {
    padding: 16px;
    color: $point-dark;
    font-size: 36px;
    font-weight: bold;
    transition: color 0.2s;
    list-style: none;

    &:hover {
      color: $point-light;
    }
  }

  .active {
    color: $point-light !important;
  }

  .gauge__bar {
    height: 12px;
    background-color: $point-light;
  }

  .scroll__gauge {
    height: 12px;
    background-color: $point-dark;
    transition: width 0.1s;
  }
}
