.bean {
  background-color: $bw-60;
  padding: 4px 12px;
  border-radius: 20px;
  margin-right: 8px;
  font-size: 16px;
  line-height: 20px;
  
  @include mobile {
    padding: 4px 12px;
    border-radius: 20px;
    margin-right: 8px;
    font-size: 14px;
    line-height: 16px;
  }
}
