$bw-100: #000;
$bw-90: #212529;
$bw-80: #343a40;
$bw-70: #495057;
$bw-60: #6c757d;
$bw-50: #adb5bd;
$bw-40: #ced4da;
$bw-30: #dee2e6;
$bw-20: #e9ecef;
$bw-10: #f8f9fa;
$bw-10: #f8f9fa;
$bw-00: #ffffff;

$point-light: #fca311;
$point-dark: #14213d;

