@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
}

body {
  min-width: 100vh;
  font-size: 14px;
  background-color: #f1f1f1;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}


@function depth__margin($depth) {
  @return $depth * 25px;
}

@for $i from 0 through 10 {
  .depth_#{$i} {
    margin-left: depth__margin($i);
  }
  .unorder.depth_#{$i} {
    margin-left: depth__margin($i) + 25px;
  }
  .order.depth_#{$i} {
    margin-left: depth__margin($i) + 10px;
  }
}

@function heading__size($level) {
  @return (6 - $level) * 9px;
}

@for $i from 1 through 5 {
  h#{$i} {
    font-size: heading__size($i);
    margin: 30px 0 15px;
    font-weight: bold;
  }
}

.columnList {
  margin-left: 0;
  * {
    margin-left: 0;
    word-break: normal;
  }
  li {
    margin-left: 25px !important;
  }
  div:last-child {
    flex-grow: 1;
  }
}